body{
    background-color: #FFFAFA;
    color:#000000;
    text-align: center;
    font-family: sans-serif;
}
h1{
    margin-top: 20px;
    color:black;
}
h2{
    line-height:150%;
}

#main{
    margin-left: 10%;
    margin-right: 10%;
}


#about{
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    clear: both;
}
.list{
    font-family: sans-serif;
    color: white;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left:5%;
    padding-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    word-spacing: 1px;
    line-height: 150%;
}
.button{
    font-size: 20px;
    letter-spacing: 3px;
    color:white;
    display: block;
    border-style: none;
    background-color: #FF9456;
    width: 80px;
    height: 40px;
}
#video{
    margin-left: 10%;
    margin-right: 10%;
    margin: 0;
    padding-left:0 ;
    padding-right:0；
}
