body{
    background-color: #FFFAFA;
    color:#EE6AA7;
    text-align: center;
}
h1{
    color:black;
    font-family: sans-serif;
}
a{
    font-family: sans-serif;
    color: #FFC0CB
    text-decoration: none;
}
a.link{
    color:#FFC0CB;
}
a.hover{
    color:#FFC0CB;
}
a.visited{
    color:#FFC0CB;
}
a.active{
    color:#FFC0CB;
}
div#main{
    margin-left: 10%;
    margin-right: 10%;
}
div#video{
    margin: 0,0,0,0;
    padding-left: 5%;
    padding-right: 5%；
}
div#about{
    clear: both;
}
